profiles {
  local {
    conda {
        process.conda = '/home/dicarlod/anaconda3/envs/neural_env'
    }
  executor.queueSize = 8
  }

  raiden {
    process {
        executor = 'sge'
        clusterOptions = ''
        queueSize = 5
        conda {
                process.conda = '/home/dicarlod/anaconda3/envs/neural_env'
            }
    }
  }
}